@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: Quicksand, Arial, sans-serif;
  width: auto;
  color: rgb(129,188,230);
}

main {
  border: 3px solid rgb(129,188,230);
  width: 33.3%;
  min-width: 350px;
  box-sizing: border-box;
  float: left;
}

main::after {
    content: '';
    display: block;
    clear: both;
}

.bottomicons {
  list-style-type: none;
  padding: 0;
}

.faicons {
  border-top: 3px solid rgb(129,188,230);
  border-right: 3px solid rgb(129,188,230);
  width: 20%;
  height: 4em;
  float: left;
  box-sizing: border-box;
  text-align: center;
  padding-top: 1.3em;
  margin: 0;
  position: relative;
}

section li:last-child{
  border-right: none;
}

img {
  width: 300px;
  max-width: 100%;
  height: auto;
  border-radius: 2%;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

p {
  margin: 0;
}

.fa {
  display: inline;
  font-size: 1.5em;
}

.faicons:hover {
  background-color: rgb(129,188,230);
  color: rgb(255, 255, 255);
}

/*.boxes:hover {
  box-sizing: border-box;
  background-color: rgb(129,188,230);
  color: black;
}*/

.info {
  list-style-type: none;
  box-sizing: border-box;
  max-width: 400px;
  padding-left: 0em;
  width: 50%;
}

.trees {
  float: left;
}

.price {
  float: right;
}

.menuboxes {
  display: none;
  text-align: center;
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  position: absolute;
  top: -5em;
  left: 0;
}


.fa-stop:hover + .menuboxes {
     display: block;
 }

 .menusizes {
   display: none;
   text-align: center;
   list-style-type: none;
   background-color: rgb(255, 255, 255);
   padding: 10px;
   position: absolute;
   top: -15em;
   left: 0;
 }


 .sizes:hover + .menusizes {
      display: block;
  }

.bluebox {
  color: rgb(129,188,230);
}

.redbox {
  color: rgb(212,130,170);
}

.orangebox {
  color: rgb(220,176,125);
}

.greenbox {
  color: rgb(139, 185, 146);
}
