@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: Quicksand, Arial, sans-serif;
  width: auto;
  color: rgb(129,188,230);
}

main {
  border: 3px solid rgb(129,188,230);
  width: 33.3%;
  min-width: 350px;
  box-sizing: border-box;
}

main::after {
    content: '';
    display: block;
    clear: both;
}

.bottomicons {
  list-style-type: none;
  padding: 0;
}

.fontawesome {
  border-top: 3px solid rgb(129,188,230);
  border-right: 3px solid rgb(129,188,230);
  width: 20%;
  height: 4em;
  float: left;
  box-sizing: border-box;
  text-align: center;
  padding-top: 1.3em;
}

section li:last-child{
  border-right: none;
}

img {
  width: 300px;
  height: auto;
  border-radius: 2%;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

p {
  margin: 0;
  text-align: center;
}

p:hover{
  color: rgb(255, 255, 255);
}

.fa {
  display: inline;
  text-decoration: none;
  color: rgb(129,188,230);
  font-size: 1.5em;
}

.fa-stop {
  font-size: 2em;
  text-align: center;
}

.fontawesome {
  margin: 0;
}

.fontawesome:hover {
  background-color: rgb(129,188,230);
}

.fontawesome:hover .fa, .fontawesome:hover p {
  color: rgb(255, 255, 255);
}

.info {
  list-style-type: none;
  box-sizing: border-box;
  max-width: 400px;
  padding-left: 0em;
  width: 50%;
}

.trees {
  float: left;
}

.price {
  float: right;
}


/*.sizingdropdown{
  margin: 0;
  padding: 0;
}*/
/*
.colordropdown{
  margin: 0 0;
}*/
