@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: Raleway, Arial, sans-serif;
  width: auto;
}
main {
  border: 3px solid rgb(129,188,230);
  width: 33.3%;
  min-width: 350px;
  box-sizing: border-box;

}

main::after {
    content: '';
    display: block;
    clear: both;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border: 1px solid rgb(129,188,230);
  width: 20%;
  float: left;
  box-sizing: border-box;
  text-align: center;
}

img {
  width: 300px;
  height: auto;
  border-radius: 2%;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

p {
  margin: 0;
  text-alight: center;
}

.fa {
  display: inline;
}


/*.sizingdropdown{
  margin: 0;
  padding: 0;
}*/
/*
.colordropdown{
  margin: 0 0;
}*/
